/* Lista de Produtos */

.products-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.products-list h2{
    margin-top: 5px;
    font-size: 0.725rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.products-list a{
    display: grid;
}

.product-info{
    grid-area: 1/1;
}

.product-item {
    /*border-bottom: 1px solid black;*/
    /*border-radius: 4px;*/
   /* padding: 10px;*/
    /*border-top: 1px solid black;*/
}

.product-item a:hover .product-overlay{
    opacity: 1;
}

.product-overlay{
    opacity: 0;
    grid-area: 1/1;
    background: rgba(31, 31, 31, 0.5);
    display: flex;
    padding: 20px;
    transition: opacity .3s;
}

.product-overlay .btn-link{
    margin: auto;
    width: 100%;
    background: rgb(0, 0, 0);
    color: #fff;
}

.btn-link#color-white::after{
    filter: brightness(0) invert(1);
}

/* BREADCRUMB */

.breadcrumb{
    margin: 20px auto;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: .05rem;
}

.woocommerce-breadcrumb{
    padding-bottom: 20px !important;
    border-bottom: 2px solid black;
}

.products-archive{
    display: grid;
    grid-template-columns: 220px 1fr;
}

@media (max-width: 800px){
    .products-archive{
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* Paginação */

.pagination{
    margin-top: 40px;
}

.pagination .page-numbers{
    border-radius: 3px;
    background: #000;
    color: #fff;
    padding: 4px 10px;
}

.pagination span.page-numbers{
    background: #208b10;
}

.pagination .next,
.pagination .prev{
    background: #fff;
    color: #000;
}

/* FILTROS */

.filtro,
.filtro .widget{
    margin-bottom: 40px;
}

.filtro-titulo,
.filtro .widget{
    font-size: 1.125rem;
    color: rgba(0, 0, 0, .5);
    font-weight: 400;
    margin-bottom: 20px;
}

.filtro-preco input{
    font-size: 1rem;
    width: 80px;
    border: none;
    border-radius: 4px;
    background: rgba(0, 0, 0, .1);
    padding: 5px;
}

.filtro-preco label{
    width: 60px;
    display: inline-block;
    margin-bottom: 10px;
}

.filtro-preco button{
    font-size: 1rem;
    width: 144px;
    height: 36px;
    border: none;
    border-radius: 4px;
    background: rgba(0, 0, 0, .2);
    padding: 5px;
    cursor: pointer;
}

@media (max-width: 800px){
    .filtros{
        margin-top: 40px;
        grid-row: 2;
    }
    .filtros::before{
        content: 'Filtrar Resultados';
        display: block;
        background: black;
        color: white;
        padding: 10px;
        margin-bottom: 20px;
        font-size: 1.5rem;
    }
}

.filtro-cat .sub-menu{
    margin-bottom: 20px;
}

.filtro-cat a{
    margin-bottom: 5px;
    display: block;
}

.filtro-cat .sub-menu a::before{
    content: '';
    width: 10px;
    height: 2px;
    background: rgba(0,0,0,.5);
    display: inline-block;
    margin-right: 5px;
}

.current-menu-item > a{
    color: #208b10;
}

.woocommerce .woocommerce-widget-layered-nav-list
.woocommerce-widget-layered-nav-list__item--chosen a::before{
    content: '';
    width: 10px;
    display: inline-block;
    background: transparent;
    border: 2px solid black;
    margin-right: 8px;
}

.woocommerce .woocommerce-widget-layered-nav-list
.woocommerce-widget-layered-nav-list__item a::before{
    background: black;
}

.count .woocommerce .woocommerce-widget-layered-nav-list{
    display: none;
}

.woocommerce-ordering{
    margin-bottom: 20px;
    margin-left: auto;
    float: none !important;
}

.woocommerce-ordering select{
    font-size: 1rem;
}